<h1>Listing restaurants</h1>

<%= link_to 'New Restaurant', new_restaurant_path %>

<table>
	<tr>
		<th>Name</th>
		<th>Price Range</th>
		<th>Address</th>
		<th>Cuisine</th>
		<th>Summary</th>
		<th>Capacity</th>
		<th>Menu</th>
	</tr>

	<% @restaurants.each do |restaurant| %>
	<tr>
		<td><%= restaurant.name %></td>
		<td><%= restaurant.pricerange %></td>
		<td><%= restaurant.address %></td>
		<td><%= restaurant.cuisine %></td>
		<td><%= restaurant.summary %></td>
		<td><%= restaurant.capacity %></td>
		<td><%= restaurant.menu %></td>
		<td><%= link_to 'Show', restaurant_path(restaurant) %></td>
		<td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant_path(restaurant),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>

