<p>
	<strong>Name:</strong>
	<%= @restaurant.name %>
</p>

<p>
	<strong>Price Range:</strong>
	<%= @restaurant.pricerange %>
</p>

<p>
	<strong>Address:</strong>
	<%= @restaurant.address %>
</p>

<p>
	<strong>Cuisine:</strong>
	<%= @restaurant.cuisine %>
</p>

<p>
	<strong>Summary:</strong>
	<%= @restaurant.summary %>
</p>

<p>
	<strong>Capacity:</strong>
	<%= @restaurant.capacity %>
</p>

<p>
	<strong>Menu:</strong>
	<%= @restaurant.menu %>
</p>